<div class="panel panel-default" ng-init="showPlayer()">
	<div class="panel-heading">
	  <p class="panel-title"> Player Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Name: {{ players.name }}</label>
		 <label class="form-control">Joining Date: {{ players.joiningdate }}</label>
		 <label class="form-control">Birth Date: {{ players.birthdate }}</label>
		 <label class="form-control">Type: {{ players.type }}</label>
		 <label class="form-control">Contact: {{ players.contact }}</label>
		 <label class="form-control">ID: {{ players._id }}</label>
		<a href="#/players" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>